{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1>Liste des éditeurs</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_publisher_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Créer un nouvel éditeur</button></a>
        </div>
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Site web</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.name }}</td>
                <td><a href="{{ publisher.url }}" target="_blank">{{ publisher.url }}</a></td>
                <td>
                    <a href="{{ path('admin_publisher_show', { 'id': publisher.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_publisher_edit', { 'id': publisher.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
