{% extends 'AdminBundle::admin-layout.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('admin_players_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_players_show', { 'id': player.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_players_edit', { 'id': player.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_players_new') }}">Create a new player</a>
        </li>
    </ul>
{% endblock %}
