<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@CommonBundle/Resources/public/css/bootstrap.min.css'

            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            {% javascripts
                '@CommonBundle/Resources/public/js/jquery.min.js'
                '@CommonBundle/Resources/public/js/bootstrap.min.js'
            %}

            <script src="{{ asset_url }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
