{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top">
        <h1>Thème</h1>
    </div>
    <div class="row col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 show">
        <table class="table table-responsive table-striped">
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ theme.name }}</td>
            </tr>
        </table>
    </div>

    <div class="row col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 show">
        <a href="{{ path('admin_theme_index') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
        <a href="{{ path('admin_theme_edit', { 'id': theme.id }) }}"><button type="button" class="btn btn-success">Modifier</button></a>
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
