{# Page d'affichage des jeux dans la partie publique #}

{% extends "CommonBundle::common-layout.html.twig" %}

{% block content %}

    <div id="main-div">
        <h2 id="pagetitle">Les jeux de Strata'j'm</h2>


        <div id="filter-panel" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="filters-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Filtrer les résultats   <span class="glyphicon glyphicon-filter"></span>
            </button>
            <div id="form-game-sort">
            {{ form_start(searchForm, {'attr': {'class': 'form-inline form-game-search'} }) }}
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}
            {{ form_start(sortForm)  }}
            {{ form_widget(sortForm.reinitialiser_les_filtres) }}

            {{ form_widget(sortForm.trier_par) }}
            {{ form_widget(sortForm.duree) }}
            {{ form_widget(sortForm.age_min) }}
            {{ form_widget(sortForm.age_max) }}

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Type de jeu <span class="caret"></span>
                </button>
              {{ form_widget(sortForm.categorie, {'attr':{'aria-labelledby':'dropdown-categories','class':'dropdown-menu'}}) }}
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-editeurs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Editeurs <span class="caret"></span>
                </button>
                {{ form_widget(sortForm.editeur, {'attr':{'aria-labelledby':'dropdown-editeurs','class':'dropdown-menu'}}) }}
            </div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-themes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
Thèmes
<span class="caret"></span>
  </button>            {{ form_widget(sortForm.themes, {'attr':{'aria-labelledby':'dropdown-themes','class':'dropdown-menu'}}) }}
</div>
            {{ form_end(sortForm) }}
          </div>

          </div>




        <div id="games-panel">

        {{ include('CommonBundle:Default:listGames.html.twig', { 'pagination': pagination }) }}



      </div>
</div>



{% endblock %}
