{# Page d'affichage des jeux dans la partie publique #}

{% extends "CommonBundle::common-layout.html.twig" %}

{% block content %}

    <div id="main-div">
        <h2 id="pagetitle">Les jeux de Strata'j'm</h2>
        {{ form_start(searchForm, {'attr': {'class': 'form-inline form-game-search'} }) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}

        <div id="filter-panel">

          {{ form_start(sortForm) }}
          {{ form_widget(sortForm) }}
          {{ form_end(sortForm) }}

        </div>


        <div id="games-panel">

        {{ include('CommonBundle:Default:listGames.html.twig', { 'pagination': pagination }) }}



      </div>
</div>



{% endblock %}
