<div id="loader" class="text-center">
    <img src="{{ asset('images/loader.gif') }}" alt="#" class="game-image">
</div>
{% if pagination is null %}
    <p>
        Aucun jeu ne correspond a votre recherche
    </p>
{% else %}

    {% for game in pagination %}

        <div class="game-sticker">
            <a href="{{ path('single_game', { 'id': game.id }) }}">
                <img class="game-sticker-image" src="{{ asset('uploads/images/' ~ game.image) }}" alt="Image du jeu {{ game.name }}">
            </a>
            <div class="game-sticker-info">
                <div>{{ game.name }}</div>
                <div>Editeur :
                    <a href="{{ game.publisher.url | external_link }}">{{ game.publisher.name }}
                    </a>
                </div>
            </div>

        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}
