{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1 class="col-lg-5 col-sm-5">Liste des emplacements</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_localisation_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Ajouter un nouvel emplacement</button> </a>
        </div>
    </div>
    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.name }}</td>
                <td>{{ localisation.adress }}</td>
                <td>{{ localisation.telNum }}</td>
                <td>
                    <a href="{{ path('admin_localisation_show', { 'id': localisation.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_localisation_edit', { 'id': localisation.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
