{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1>Liste des exemplaires</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_copy_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Créer un nouvel exemplaire</button></a>
        </div>
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for copy in copies %}
            <tr>
                <td><a href="{{ path('admin_copy_show', { 'id': copy.id }) }}">{{ copy.reference }}</a></td>
                <td>
                    <a href="{{ path('admin_copy_show', { 'id': copy.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_copy_edit', { 'id': copy.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
