{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Exemplaire du jeu {{ copy.game.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ copy.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ copy.reference }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_copy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_copy_edit', { 'id': copy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
