{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top">
        <h1>Exemplaire du jeu {{ copy.game.name }}</h1>
    </div>
    <div class="row col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 ">
        <table class="table table-responsive table-striped">
            <tr>
              <th>Référence</th>
              <th>Etat</th>
              <th>Emplacement</th>
            </tr>
            <tr>
              <td>{{ copy.reference }}</td>

              {% if copy.status != NULL %}
                <td>{{ copy.status.name }}</td>
              {% else %}
                <td>Inconnu</td>
              {% endif %}
              {% if copy.localisation != NULL %}
                <td>{{ copy.localisation.name }}</td>
              {% else %}
                <td>Inconnu</td>
              {% endif %}
            </tr>
        </table>
    </div>

    <div class="row col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6 show">
        <a href="{{ path('admin_copy_index') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
        <a href="{{ path('admin_copy_edit', { 'id': copy.id }) }}"><button type="button" class="btn btn-success">Modifier</button></a>
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
