{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Modification du type</h1>

    {{ form_start(edit_form) }}
        <div class="row">
            {{ form_widget(edit_form) }}
        </div>
        <div class="row">
            <a href="{{ path('admin_type_index') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
            <button type="submit" class="btn btn-success pull-right">Modifier</button>            
        </div>  
    {{ form_end(edit_form) }}

   <div class="row">
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger pull-right" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
