{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1>Liste des membres</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_member_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Ajouter un nouveau membre</button> </a>
        </div>
    </div>

    <!-- Modal -->
    <div id="" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
    <div id="toolbar">
            {% if select != "actif" %}
                <a  href="{{ path('admin_member_index_select',{ 'select' : 'actif' }) }}"> <button type="button" class="btn btn-default" value="actif">Afficher les membres actifs</button></a>
            {% else %}
                <a  href="{{ path('admin_member_index_select',{ 'select' : 'all' }) }}"> <button type="button" class="btn btn-default" value="all">Afficher tous les membres</button></a>
            {% endif %}
    </div>
    <table class="table-striped" id="table"
           data-toggle="table"
           data-url="{{ path("members_resp",{ 'select' :  select  }) }}"
           data-toolbar="#toolbar"
           data-show-columns="true"
           data-locale="fr-FR"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-page-size="10"
           data-search="true"
           data-show-refresh="true"
           data-sort-order="desc"
           data-show-toggle="true"
           data-export-types="['excel','doc']"
           data-show-export="true"
           data-ajax-options="test"
    >
        <thead>
        <tr>
            <th data-field="firstname">Prénom</th>
            <th data-field="lastname">Nom</th>
            <th data-field="email" data-formatter="emailFormatter">Email</th>
            <th data-field="telNum">Numéro téléphone</th>
            <th data-field="action" data-formatter="actionFormatter"  data-events="actionEvents">Action</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function actionFormatter(value, row, index) {
            var show = Routing.generate('admin_member_show', { id: row.id });
            var edit = Routing.generate('admin_member_edit', { id: row.id });
            if (row.lastDate == "true"){
                return [
                "  <a href="+show+"><input type='button' class='btn btn-default' value='Afficher'></a>  ",
                "  <a href="+edit+"><input type='button' class='btn btn-default' value='Modifier'></a>  ",
                "  <input type='button' class='btn btn-default membership' data-toggle='modal' data-target='#"+row.id+"' id="+row.id+" value='Re-adhérer'>  "
                ].join('');
            } else {
                return [
                    "  <a href="+show+"><input type='button' class='btn btn-default' value='Afficher'></a>  " ,
                    "  <a href="+edit+"><input type='button' class='btn btn-default' value='Modifier'></a>  ",
                ].join('');
            }


        }

        function emailFormatter(value, row, index) {
            console.log(value);

            return [
                    '<a href="mailto:'+value+'">'+value+'</a>',
            ].join('');



        }

        var select = '{{ select }}';

        if ( select != 'actif' ){
            window.actionEvents = {
                'click .membership': function (e, value, row, index) {
                    $('.modal').attr('id',row.id);

                    $('.modal .modal-title').text(row.lastname+' '+row.firstname);
                    $('.modal .modal-body').html(
                        '{{ form_start(form) }}'+
                        '{{ form_widget(form) }}'+
                        '<input type="submit" class="btn btn-default" value="Re-adhérer" />'+
                        '{{ form_end(form) }}'

                    );
                    $('.modal .modal-body .memberId').attr('value',row.id);
                }
            };
        }


        var $table = $('#table');


        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val()
                });
            });
        })

    </script>

{% endblock %}
