{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Member</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>Telnum</th>
                <td>{{ member.telNum }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_member_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_member_edit', { 'id': member.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
