{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Member</h1>
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Montant</th>
            <th>Date début</th>
            <th>Moyen de paiement</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            {#{{ dump(membership) }}#}
            <tr>
                <td>{{ membership.amount }}€</td>
                <td>{% if membership.beginDate %}{{ membership.beginDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ membership.paymentMethod.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <th class="col-lg-2">Prénom: </th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>Numéro Tel: </th>
                <td>{{ member.telNum }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_member_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_member_edit', { 'id': member.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
