{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Paymentmethod</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paymentMethod.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ paymentMethod.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_paymentmethod_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_paymentmethod_edit', { 'id': paymentMethod.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
