{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <div class="row top-list">
        <div class="row">
            <h1 class="col-lg-4 col-sm-4">Liste des administrateurs</h1>
        </div>
        <div class="row">
            <a href="{{ path('admin_user_new') }}"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Créer un nouvel administrateur</button></a>
        </div>
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_user_show', { 'id': user.id }) }}"><input type='button' class='btn btn-default' value='Voir'></a>
                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><input type='button' class='btn btn-default' value='Modifier'></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
