{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Game edit</h1>

    {{ form_start(edit_form) }}
        <div class="row">
            {{ form_label(edit_form.image) }}
            <div class="col s12">
                <img style="width:10%;" src="{{ asset('uploads/images/' ~ oldImageName) }}"/>
            </div>
            {{ form_widget(edit_form.image) }}
        </div>
        <div class="row">
            {{ form_label(edit_form.board_image) }}
            <div class="col s12">
                <img style="width:10%;" src="{{ asset('uploads/images/' ~ oldBoardImageName) }}"/>
            </div>
            {{ form_widget(edit_form.board_image) }}
        </div>
        <div class="row">
            {{ form_widget(edit_form.nbcopies, {'attr': {'disabled': 'disabled' } }) }}
            {{ form_widget(edit_form) }}
        </div>

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}

    <script>
        $( function() {
            $( "#commonbundle_game_releaseDate" ).datepicker(
                    {
                        yearRange: '1950:2050',
                        changeMonth: true,
                        changeYear: true,
                        altField: "#datepicker",
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'yy-mm-dd',
                    }
            );
        } );
    </script>
{% endblock %}
