{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Emprunts en cours</h1>

    {% if borrows == null %}
    <div>Aucun emprunt en cours.</div>

    {% else %}
      {% for borrow in borrows %}
      <li>
          <a href="{{ path('admin_borrow_show', { 'id': borrow.id }) }}">{{ borrow.member.firstName }} {{borrow.member.lastName}}</a> le {{borrow.beginDate|date("m/d/Y", "Europe/Paris")}} <a href="{{ path('admin_borrow_edit', { 'id': borrow.id }) }}">[Modifier]</a>
      </li>
      {% endfor %}
    {% endif %}

    <p><a href="{{ path('admin_borrow_new') }}">Déclarer un nouvel emprunt</a></p>
{% endblock %}
