{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Emprunts en cours</h1>

    {% if borrows == null %}
    <div>Aucun emprunt en cours.</div>

    {% else %}
      {% for borrow in borrows %}

          <a href="{{ path('admin_borrow_show', { 'id': borrow.id }) }}">{{ borrow.id }}</a>
          {% if borrow.beginDate %}{{ borrow.beginDate|date('Y-m-d H:i:s') }}{% endif %}
          {% if borrow.endDate %}{{ borrow.endDate|date('Y-m-d H:i:s') }}{% endif %}
                <a href="{{ path('admin_borrow_show', { 'id': borrow.id }) }}">show</a>
                <a href="{{ path('admin_borrow_edit', { 'id': borrow.id }) }}">edit</a>
        {% endfor %}
    {% endif %}

    <p><a href="{{ path('admin_borrow_new') }}">Déclarer un nouvel emprunt</a></p>
{% endblock %}
