{% extends "AdminBundle::admin-layout.html.twig" %}

{% block content %}
    <h1>Membership</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membership.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ membership.amount }}</td>
            </tr>
            <tr>
                <th>Begindate</th>
                <td>{% if membership.beginDate %}{{ membership.beginDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_membership_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_membership_edit', { 'id': membership.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
